<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>noteapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>618FC6A91F3D899D00D6B3AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>618FC6BD1F3D899E00D6B3AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>618FC6C81F3D899E00D6B3AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
